<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Overclocking">
        <setting label="Preset" type="labelenum" id="overclock_preset" values="Disabled|Custom|Modest|Medium|High|Turbo (Pi1)|Turbo (Pi2)|Turbo (Pi3)" default="Disabled"/>

        <setting label="[COLOR grey2]ARM frequency (arm_freq) = [/COLOR][COLOR white]800[/COLOR]" type="lsep" visible="eq(-1,2)" subsetting="true"/>
        <setting label="[COLOR grey2]ARM frequency (arm_freq) = [/COLOR][COLOR white]900[/COLOR]" type="lsep" visible="eq(-2,3)" subsetting="true"/>
        <setting label="[COLOR grey2]ARM frequency (arm_freq) = [/COLOR][COLOR white]950[/COLOR]" type="lsep" visible="eq(-3,4)" subsetting="true"/>
        <setting label="[COLOR grey2]ARM frequency (arm_freq) = [/COLOR][COLOR white]1000[/COLOR]" type="lsep" visible="eq(-4,5)" subsetting="true"/>
        <setting label="[COLOR grey2]ARM frequency (arm_freq) = [/COLOR][COLOR white]1000[/COLOR]" type="lsep" visible="eq(-5,6)" subsetting="true"/>        
        <setting label="[COLOR grey2]ARM frequency (arm_freq) = [/COLOR][COLOR white]1500[/COLOR]" type="lsep" visible="eq(-6,7)" subsetting="true"/>

        <setting label="[COLOR grey2]Core frequency (core_freq) = [/COLOR][COLOR white]250[/COLOR]" type="lsep" visible="eq(-7,2)" subsetting="true"/>
        <setting label="[COLOR grey2]Core frequency (core_freq) = [/COLOR][COLOR white]250[/COLOR]" type="lsep" visible="eq(-8,3)" subsetting="true"/>
        <setting label="[COLOR grey2]Core frequency (core_freq) = [/COLOR][COLOR white]250[/COLOR]" type="lsep" visible="eq(-9,4)" subsetting="true"/>
        <setting label="[COLOR grey2]Core frequency (core_freq) = [/COLOR][COLOR white]500[/COLOR]" type="lsep" visible="eq(-10,5)" subsetting="true"/>
        <setting label="[COLOR grey2]Core frequency (core_freq) = [/COLOR][COLOR white]500[/COLOR]" type="lsep" visible="eq(-11,6)" subsetting="true"/>
        <setting label="[COLOR grey2]Core frequency (core_freq) = [/COLOR][COLOR white]500[/COLOR]" type="lsep" visible="eq(-12,7)" subsetting="true"/>

        <setting label="[COLOR grey2]SDRAM frequency (sdram_freq) = [/COLOR][COLOR white]400[/COLOR]" type="lsep" visible="eq(-13,2)" subsetting="true"/>
        <setting label="[COLOR grey2]SDRAM frequency (sdram_freq) = [/COLOR][COLOR white]450[/COLOR]" type="lsep" visible="eq(-14,3)" subsetting="true"/>
        <setting label="[COLOR grey2]SDRAM frequency (sdram_freq) = [/COLOR][COLOR white]450[/COLOR]" type="lsep" visible="eq(-15,4)" subsetting="true"/>
        <setting label="[COLOR grey2]SDRAM frequency (sdram_freq) = [/COLOR][COLOR white]600[/COLOR]" type="lsep" visible="eq(-16,5)" subsetting="true"/>
        <setting label="[COLOR grey2]SDRAM frequency (sdram_freq) = [/COLOR][COLOR white]500[/COLOR]" type="lsep" visible="eq(-17,6)" subsetting="true"/>
        <setting label="[COLOR grey2]SDRAM frequency (sdram_freq) = [/COLOR][COLOR white]500[/COLOR]" type="lsep" visible="eq(-18,7)" subsetting="true"/>

        <setting label="[COLOR grey2]ARM voltage adjustment (over_voltage) = [/COLOR][COLOR white]0[/COLOR]" type="lsep" visible="eq(-19,2)" subsetting="true"/>
        <setting label="[COLOR grey2]ARM voltage adjustment (over_voltage) = [/COLOR][COLOR white]2[/COLOR]" type="lsep" visible="eq(-20,3)" subsetting="true"/>
        <setting label="[COLOR grey2]ARM voltage adjustment (over_voltage) = [/COLOR][COLOR white]6[/COLOR]" type="lsep" visible="eq(-21,4)" subsetting="true"/>
        <setting label="[COLOR grey2]ARM voltage adjustment (over_voltage) = [/COLOR][COLOR white]6[/COLOR]" type="lsep" visible="eq(-22,5)" subsetting="true"/>
        <setting label="[COLOR grey2]ARM voltage adjustment (over_voltage) = [/COLOR][COLOR white]2[/COLOR]" type="lsep" visible="eq(-23,6)" subsetting="true"/>
        <setting label="[COLOR grey2]ARM voltage adjustment (over_voltage) = [/COLOR][COLOR white]4[/COLOR]" type="lsep" visible="eq(-24,7)" subsetting="true"/>

        <setting label="[COLOR grey2]SDRAM voltage adjustment (over_voltage_sdram) = [/COLOR][COLOR white]0[/COLOR]" type="lsep" visible="eq(-25,2)" subsetting="true"/>
        <setting label="[COLOR grey2]SDRAM voltage adjustment (over_voltage_sdram) = [/COLOR][COLOR white]0[/COLOR]" type="lsep" visible="eq(-26,3)" subsetting="true"/>
        <setting label="[COLOR grey2]SDRAM voltage adjustment (over_voltage_sdram) = [/COLOR][COLOR white]0[/COLOR]" type="lsep" visible="eq(-27,4)" subsetting="true"/>
        <setting label="[COLOR grey2]SDRAM voltage adjustment (over_voltage_sdram) = [/COLOR][COLOR white]0[/COLOR]" type="lsep" visible="eq(-28,5)" subsetting="true"/> 
        <setting label="[COLOR grey2]SDRAM voltage adjustment (over_voltage_sdram) = [/COLOR][COLOR white]0[/COLOR]" type="lsep" visible="eq(-29,6)" subsetting="true"/> 
        <setting label="[COLOR grey2]SDRAM voltage adjustment (over_voltage_sdram) = [/COLOR][COLOR white]0[/COLOR]" type="lsep" visible="eq(-30,7)" subsetting="true"/> 

        <setting label="ARM frequency (arm_freq)" type="slider" id="arm_freq" subsetting="true" visible="eq(-31,1)" default="700" range="700,10,1500" option="int"/>
        <setting label="Core frequency (core_freq)" type="slider" id="core_freq" subsetting="true" visible="eq(-32,1)" default="250" range="250,10,750" option="int"/>
        <setting label="SDRAM frequency (sdram_freq)" type="slider" id="sdram_freq" subsetting="true" visible="eq(-33,1)" default="400" range="400,10,750" option="int"/>
        <setting label="ARM voltage adjustment (over_voltage)" type="slider" id="over_voltage" subsetting="true" visible="eq(-34,1)" default="0" range="0,1,8" option="int"/>
        <setting label="SDRAM voltage adjustment (over_voltage_sdram)" type="slider" id="over_voltage_sdram" subsetting="true" visible="eq(-35,1)" default="0" range="0,1,8" option="int"/>

        <setting label="Disable dynamic overclock (force_turbo)" type="bool" id="force_turbo"/>
        <setting label="Initial time to disable dynamic overclock (initial_turbo)" type="slider" id="initial_turbo" enable="eq(-1,false)" range="0,10,60" option="int"/>
    </category>
    <category label="HDMI">
        <setting label="Audio" type="lsep"/>
        <setting label="Force all audio formats (hdmi_force_edid_audio)" type="bool" id="hdmi_force_edid_audio"/>

        <setting label="Video" type="lsep"/>
        <setting label="Force HDMI (hdmi_force_hotplug)" type="bool" id="hdmi_force_hotplug"/>
        <setting label="Mode (hdmi_drive)" type="enum" id="hdmi_drive" values="-|DVI|HDMI" default="2"/>
        <setting label="Colour space/range (hdmi_pixel_encoding)" type="enum" id="hdmi_pixel_encoding" values="default|RGB limited|RGB full|YCbCr limited|YCbCr full" default="0"/>
        <setting label="Boost HDMI signal (config_hdmi_boost)" type="slider" id="config_hdmi_boost" range="0,1,11" default="5" option="int"/>
        <setting label="Read edid data from file (hdmi_edid_file)" type="bool" id="hdmi_edid_file"/>
        <setting label="Dump edid.dat" type="action" subsetting="true" visible="eq(-1,true)" action="RunScript(script.rpi.config, dump_edid)"/>
        <setting label="Maximum HDMI compatibility (hdmi_safe)" type="bool" id="hdmi_safe"/>
        <setting label="HDMI output group (hdmi_group)" type="enum" id="hdmi_group" values="Auto|CEA|DMT" default="0"/>
        <setting label="HDMI output format (hdmi_mode)" type="slider" id="hdmi_mode" range="0,1,86" option="int"/>
        <setting label="Force the HDMI group and format (hdmi_force)" type="bool" id="hdmi_force"/>

        <setting label="CEC" type="lsep"/>
        <setting label="Disable CEC (hdmi_ignore_cec)" type="bool" id="hdmi_ignore_cec"/>
        <setting label="Disable CEC initial active source (hdmi_ignore_cec_init)" type="bool" id="hdmi_ignore_cec_init"/>        

    </category>
    <category label="Video">
        <setting label="Composite" type="lsep"/>
        <setting label="Force Composite (hdmi_ignore_hotplug)" type="bool" id="hdmi_ignore_hotplug"/>
        <setting label="Mode (sdtv_mode)" type="enum" id="sdtv_mode" values="NTSC|Japan|PAL|Brazil" default="0"/>
        <setting label="Aspect (sdtv_aspect)" type="enum" id="sdtv_aspect" values="-|4:3|14:9|16:9" default="1"/>

        <setting label="Overscan" type="lsep"/>
        <setting label="Disable (disable_overscan)" type="bool" id="disable_overscan" default="true"/>
        <setting label="Scaling (overscan_scale)" type="bool" id="overscan_scale"/>
        <setting label="Left overscan in pixels (overscan_left)" type="slider" id="overscan_left" range="-60,1,60" option="int"/>
        <setting label="Right overscan in pixels (overscan_right)" type="slider" id="overscan_right" range="-60,1,60" option="int"/>
        <setting label="Top overscan in pixels (overscan_top)" type="slider" id="overscan_top" range="-60,1,60" option="int"/>
        <setting label="Bottom overscan in pixels (overscan_bottom)" type="slider" id="overscan_bottom" range="-60,1,60" option="int"/>

        <setting label="Framebuffer" type="lsep"/>
	<setting label="Resolution" type="labelenum" id="resolution_preset" values="Custom|480i|576i|800x600|1280x1024|720p|1080i|4k" default="1280x1024"/>
        
	<setting label="[COLOR grey2]Console width in pixels (framebuffer_width) = [/COLOR][COLOR white]720[/COLOR]" type="lsep" visible="eq(-1,1)" subsetting="true"/>
	<setting label="[COLOR grey2]Console width in pixels (framebuffer_width) = [/COLOR][COLOR white]720[/COLOR]" type="lsep" visible="eq(-2,2)" subsetting="true"/>
	<setting label="[COLOR grey2]Console width in pixels (framebuffer_width) = [/COLOR][COLOR white]800[/COLOR]" type="lsep" visible="eq(-3,3)" subsetting="true"/>
	<setting label="[COLOR grey2]Console width in pixels (framebuffer_width) = [/COLOR][COLOR white]1280[/COLOR]" type="lsep" visible="eq(-4,4)" subsetting="true"/>
	<setting label="[COLOR grey2]Console width in pixels (framebuffer_width) = [/COLOR][COLOR white]1280[/COLOR]" type="lsep" visible="eq(-5,5)" subsetting="true"/>
	<setting label="[COLOR grey2]Console width in pixels (framebuffer_width) = [/COLOR][COLOR white]1920[/COLOR]" type="lsep" visible="eq(-6,6)" subsetting="true"/>
	<setting label="[COLOR grey2]Console width in pixels (framebuffer_width) = [/COLOR][COLOR white]3840[/COLOR]" type="lsep" visible="eq(-7,7)" subsetting="true"/>

	<setting label="[COLOR grey2]Console height in pixels (framebuffer_height) = [/COLOR][COLOR white]480[/COLOR]" type="lsep" visible="eq(-8,1)" subsetting="true"/>
	<setting label="[COLOR grey2]Console height in pixels (framebuffer_height) = [/COLOR][COLOR white]576[/COLOR]" type="lsep" visible="eq(-9,2)" subsetting="true"/>
	<setting label="[COLOR grey2]Console height in pixels (framebuffer_height) = [/COLOR][COLOR white]600[/COLOR]" type="lsep" visible="eq(-10,3)" subsetting="true"/>
	<setting label="[COLOR grey2]Console height in pixels (framebuffer_height) = [/COLOR][COLOR white]1024[/COLOR]" type="lsep" visible="eq(-11,4)" subsetting="true"/>
	<setting label="[COLOR grey2]Console height in pixels (framebuffer_height) = [/COLOR][COLOR white]720[/COLOR]" type="lsep" visible="eq(-12,5)" subsetting="true"/>
	<setting label="[COLOR grey2]Console height in pixels (framebuffer_height) = [/COLOR][COLOR white]1080[/COLOR]" type="lsep" visible="eq(-13,6)" subsetting="true"/>
	<setting label="[COLOR grey2]Console height in pixels (framebuffer_height) = [/COLOR][COLOR white]2160[/COLOR]" type="lsep" visible="eq(-14,7)" subsetting="true"/>

        <setting label="Console width in pixels (framebuffer_width)" type="number" id="framebuffer_width" subsetting="true" visible="eq(-15,0)" default="1280"/>
        <setting label="Console height in pixels (framebuffer_height)" type="number" id="framebuffer_height" subsetting="true" visible="eq(-16,0)" default="720"/>

        <setting label="Framebuffer depth in bits per pixel (framebuffer_depth)" type="select" id="framebuffer_depth" values="8|16|24|32" default="16"/>
    </category>
    <category label="Misc">
	<setting label="Model" type="text" id="model" enable="false"/>
        <setting label="Board revision" type="number" id="revision" default="0" visible="false"/>
        <setting label="Board type" type="number" id="type" default="0" visible="false"/>
        <setting label="RAM size" type="number" id="max_ram" default="512" visible="false"/>

        <setting label="Memory" type="lsep"/>
        <setting label="GPU memory in MB (gpu_mem_1024)" type="slider" id="gpu_mem_1024" default="64" range="16,16,448" option="int" visible="eq(-2,1024)"/>
        <setting label="GPU memory in MB (gpu_mem_512)" type="slider" id="gpu_mem_512" default="64" range="16,16,448" option="int" visible="eq(-3,512)"/>
        <setting label="GPU memory in MB (gpu_mem_256)" type="slider" id="gpu_mem_256" default="64" range="16,8,192" option="int" visible="eq(-4,256)"/>

        <setting label="License keys" type="lsep"/>
        <setting label="MPEG-2 (decode_MPG2)" type="text" id="decode_MPG2"/>
        <setting label="VC-1 (decode_WVC1)" type="text" id="decode_WVC1"/>

        <setting label="Other" type="lsep"/>
        <setting label="Disable rainbow boot splash (disable_splash)" type="bool" id="disable_splash" default="true"/>
        <setting label="Output the maximum 1.2A from USB ports (max_usb_current)" type="bool" id="max_usb_current" visible="eq(-12,16)|eq(-11,2)|eq(-11,3)|eq(-11,4)"/>
    </category>
    <category label="Settings">
        <setting label="Debug mode" type="bool" id="debug" default="false"/>
    </category>
</settings>
